<div ng-app="in2nPassreset"  layout-align="center none" layout="column" >
   <div layout="row" layout-align="center none">

   <md-card>
        <md-content class="md-no-momentum">
       <md-toolbar>
          <div class="md-toolbar-tools">
            <h2><span>
Password set Form</span></h2>
          </div>
        </md-toolbar>

    <form name="passresetform">

            <md-input-container class="md-block">
<md-icon  class="material-icons">account_circle</md-icon>
              <label>Username</label>
              <input type="text" name="activateuser.name"
ng-model="activateuser.name" placeholder="Username" disabled />
            </md-input-container>

            <md-input-container class="md-block">
<md-icon  class="material-icons">account_circle</md-icon>
              <label>Full name</label>
              <input type="text" name="activateuser.username"
ng-model="activateuser.fullname" placeholder="Full name" disabled />
            </md-input-container>

       <md-input-container class="md-block">
      <md-icon aria-label="touch app" class="material-icons">mail out</md-icon>
              <label>Email</label>
              <input type="text" name="email"
	 ng-model="activateuser.email" placeholder="User's email" disabled />
            </md-input-container>

	<md-input-container class="md-block">
<md-icon aria-label="touch app" class="material-icons">security</md-icon>
              <label>Password</label>
              <input type="password" name="userpassword"
ng-model="activateuser.password" placeholder="Password" required=""
md-maxlength="100"/>
              <div ng-messages="passresetform.userpassword.$error">
                <div ng-message="required" >Please enter your password.</div>
                <div ng-message="md-maxlength">Too long.</div>
              </div>
         </md-input-container>

	      <ng-password-meter password="activateuser.password">
	      </ng-password-meter> 


            <md-input-container class="md-block">
<md-icon aria-label="touch app" class="material-icons">security</md-icon>
              <label>Password again</label>
              <input type="password" name="userpassword2"
		ng-model="activateuser.password2"
 ng-pattern="{{activateuser.password}}" placeholder="Password again" required=""
md-maxlength="100"  />
              <div ng-messages="passresetform.userpassword2.$error" >
                <div ng-message="required">Please enter your password.</div>
                <div ng-message="md-maxlength">Too long.</div>
		<div ng-message="pattern">Passwords not equal!!!</div>
              </div>
            </md-input-container>


     <md-input-container class="md-block">
	<label>Security question</label>
        <md-select ng-model="activateuser.security_question">
          <md-option ng-repeat="q in secq" value="{{q}}">{{q}}</md-option>
        </md-select>
      </md-input-container>

    <md-input-container style="margin-right: 10px;">
      <label>Answer</label>
      <md-icon class="name">event_note</md-icon>
      <input ng-model="activateuser.security_answer" type="text"
placeholder="security answer">
    </md-input-container>

   <md-button  ng-click="showSimpleToast(activateuser.name + ' Updated');passReset(activateuser);" 
	ng-class="{'md-raised md-primary': (passresetform.$dirty && passresetform.$valid) }">Update user info
  </md-button>


   </form>

   </md-content>
   </md-card>
 </div>
</div>
